$white: #FFF;
$black: #000;
$placeholder-color: #222;

$nav-background-color: #FFF !default;
$nav-font-color: $mdc-theme-primary !default;
$quote-font-family: Open Sans, sans-serif !default;

$primary-color-overlay: rgba(0, 50, 101, .5) !default;